@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.refer{
  background-image: url("https://wallpaperaccess.com/full/7140226.jpg");
  height:100vh;
  width:98.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(18, 18, 18, 0.677);
  overflow: hidden;
}
.refre{
  color:aliceblue;
  
}
.consider{
  color:#1ea39f;

}
.thrill{
  color: #5e5e5e;
  font:20px Quicksand,sans-serif;

}
.button-s{
  margin-bottom: 2rem;
}
.holy{
  height:70vh;
  width:30vw;
}
@media screen and (max-width:900px) {
  .holy{
    height:30%;
    width:90%
  }
}
